<h1>Clocked Event</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Event-type:</strong>
  <%= @user.eventType %>
</p>

<p>
  <strong>Event-Time:</strong>
  <%= @user.created_at.to_time.strftime('%B %e %Y at %l:%M %p') %>
</p>

<%= link_to 'Edit', edit_user_path(@user), class: 'btn-primary' %> |
<%= link_to 'Ok', new_user_path, class: 'btn-primary' %>
